In [3]:
import os
import gc
import traceback
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=pd.core.common.SettingWithCopyWarning)
    
plt.style.use('bmh')
plt.rcParams['figure.figsize'] = [14, 8]  # width, height

In [16]:
LOCAL_PATH = '../data'
ROOT_PATH = LOCAL_PATH

loan_agency_product_name = pd.read_csv(f"{ROOT_PATH}/loan_agency_product_name.csv")
loan_dindexdto_dataset = pd.read_csv(f"{ROOT_PATH}/loan_dindexedto_dataset.csv")
loan_funding_origination_info = pd.read_csv(f"{ROOT_PATH}/loan_funding_origination_info.csv")
loan_payments_dataset_scoring = pd.read_csv(f"{ROOT_PATH}/loan_payments_dataset_scoring.csv")
loan_payments_dataset = pd.read_csv(f"{ROOT_PATH}/loan_payments_dataset.csv")

In [17]:
loan_payments_dataset.shape

(4302839, 12)

In [54]:
df_c = loan_payments_dataset.groupby('LoanId').count()

In [41]:
print((df_c[['PaymentId']] > 1).value_counts())
print()
print((df_c[['PaymentId']] > 0).value_counts())

PaymentId
True         181044
False          9143
dtype: int64

PaymentId
True         190187
dtype: int64

In [68]:
p_id = df_c[df_c['PaymentId'] > 10].index.to_list()

In [79]:
df_lpd = loan_payments_dataset[loan_payments_dataset['LoanId'] == p_id[1]]
df_lpd.sort_values('PaymentTransferDate')

,LoanId,PaymentId,PaymentSource,PaymentType,PaymentTypeDescription,PaymentAmount,PaymentPrincipal,PaymentInterest,PaymentVAT,PaymentDueDate,PaymentTransferDate,PaymentProcessingDate
34,3811,40609780,Regular,NaN,NaN,164.99,0.00,142.23,22.76,2018-11-30,2019-01-03,2019-01-04
35,3811,40830789,Regular,NaN,NaN,164.99,132.78,27.77,4.44,2018-12-15,2019-02-05,2019-02-06
36,3811,40832191,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2018-12-31,2019-02-05,2019-02-06
37,3811,40921827,Regular,NaN,NaN,164.99,166.44,-1.25,-0.20,2019-01-15,2019-02-19,2019-02-20
38,3811,41201942,Regular,NaN,NaN,164.99,164.92,0.06,0.01,2019-01-31,2019-03-20,2019-03-21
39,3811,41202448,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-02-15,2019-03-20,2019-03-21
40,3811,41463838,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-02-28,2019-04-17,2019-04-23
41,3811,41465054,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-03-15,2019-04-17,2019-04-23
42,3811,41676562,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-03-31,2019-05-17,2019-05-20
43,3811,41696255,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-04-15,2019-05-22,2019-05-23
44,3811,41846840,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-04-30,2019-06-05,2019-06-06
45,3811,41866100,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-05-15,2019-06-10,2019-06-11
47,3811,42209032,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-06-15,2019-07-17,2019-07-18
48,3811,42335931,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-06-30,2019-08-05,2019-08-06
46,3811,42445016,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-05-31,2019-08-19,2019-08-20
49,3811,42581690,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-07-15,2019-09-02,2019-09-03
50,3811,42700888,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-07-31,2019-09-19,2019-09-20
51,3811,42701710,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-08-15,2019-09-19,2019-09-20
52,3811,42816965,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-08-31,2019-10-02,2019-10-03
53,3811,42948131,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-09-15,2019-10-17,2019-10-18
54,3811,43013626,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-09-30,2019-10-25,2019-10-28
55,3811,43193730,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-10-15,2019-11-20,2019-11-21
56,3811,43315746,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-10-31,2019-12-05,2019-12-06
58,3811,43496833,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-11-30,2019-12-26,2019-12-27
31,3811,43797256,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-12-31,2020-02-06,2020-02-10
59,3811,43796996,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-12-15,2020-02-06,2020-02-10
32,3811,44230858,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2020-01-15,2020-04-01,2020-04-06
33,3811,44231112,Regular,NaN,NaN,159.26,159.26,0.00,0.00,2020-01-31,2020-04-01,2020-04-06
57,3811,44486384,Regular,NaN,NaN,164.99,164.99,0.00,0.00,2019-11-15,2020-05-08,2020-05-11

In [88]:
df_lpd = loan_payments_dataset[loan_payments_dataset['LoanId'] == p_id[2]]
df_lpd.sort_values('PaymentTransferDate')

,LoanId,PaymentId,PaymentSource,PaymentType,PaymentTypeDescription,PaymentAmount,PaymentPrincipal,PaymentInterest,PaymentVAT,PaymentDueDate,PaymentTransferDate,PaymentProcessingDate
60,3846,40610360,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2018-11-30,2019-01-03,2019-01-04
61,3846,40831050,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2018-12-15,2019-02-05,2019-02-06
62,3846,40831610,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2018-12-31,2019-02-05,2019-02-06
63,3846,40922356,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-01-15,2019-02-19,2019-02-20
64,3846,41201390,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-01-31,2019-03-20,2019-03-21
65,3846,41202672,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-02-15,2019-03-20,2019-03-21
66,3846,41464079,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-02-28,2019-04-17,2019-04-23
67,3846,41464572,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-03-15,2019-04-17,2019-04-23
68,3846,41676325,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-03-31,2019-05-17,2019-05-20
69,3846,41696697,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-04-15,2019-05-22,2019-05-23
70,3846,41846619,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-04-30,2019-06-05,2019-06-06
71,3846,41865880,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-05-15,2019-06-10,2019-06-11
73,3846,42208834,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-06-15,2019-07-17,2019-07-18
74,3846,42335720,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-06-30,2019-08-05,2019-08-06
72,3846,42445429,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-05-31,2019-08-19,2019-08-20
75,3846,42582069,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-07-15,2019-09-02,2019-09-03
76,3846,42700855,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-07-31,2019-09-19,2019-09-20
77,3846,42701516,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-08-15,2019-09-19,2019-09-20
78,3846,42816798,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-08-31,2019-10-02,2019-10-03
79,3846,42947981,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-09-15,2019-10-17,2019-10-18
80,3846,43013478,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-09-30,2019-10-25,2019-10-28
81,3846,43193589,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-10-15,2019-11-20,2019-11-21
82,3846,43315606,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-10-31,2019-12-05,2019-12-06
84,3846,43496689,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-11-30,2019-12-26,2019-12-27
85,3846,43797118,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-12-15,2020-02-06,2020-02-10
86,3846,43797378,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-12-31,2020-02-06,2020-02-10
91,3846,44232314,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-03-15,2020-04-01,2020-04-06
90,3846,44232072,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-02-29,2020-04-01,2020-04-06
89,3846,44231472,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-02-15,2020-04-01,2020-04-06
87,3846,44230976,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-01-15,2020-04-01,2020-04-06
88,3846,44231238,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-01-31,2020-04-01,2020-04-06
83,3846,44486273,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2019-11-15,2020-05-08,2020-05-11
92,3846,44624211,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-03-31,2020-05-22,2020-05-25
93,3846,44624757,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-04-15,2020-05-22,2020-05-25
95,3846,44714260,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-05-15,2020-06-03,2020-06-04
94,3846,44713734,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-04-30,2020-06-03,2020-06-04
96,3846,44817213,Regular,NaN,NaN,888.92,0.0,766.31,122.61,2020-05-31,2020-06-17,2020-06-18

In [42]:
df_p = loan_payments_dataset.groupby('PaymentId').count()

In [44]:
print((df_p[['LoanId']] > 1).value_counts())
print()
print((df_p[['LoanId']] > 0).value_counts())

LoanId
False     4302839
dtype: int64

LoanId
True      4302839
dtype: int64

In [80]:
loan_payments_dataset.PaymentType.unique()

array([nan,  4.,  8., 13.])

In [81]:
loan_payments_dataset.PaymentTypeDescription.unique()

array([nan, 'Prepayment', 'Restructuring'], dtype=object)

In [87]:
loan_payments_dataset[['PaymentType', 'PaymentTypeDescription']].size

loan_payments_dataset.groupby(['PaymentType', 'PaymentTypeDescription']).size()

PaymentType  PaymentTypeDescription
4.0          Prepayment                7424
8.0          Restructuring             4210
13.0         Restructuring             4210
dtype: int64

In [89]:
loan_payments_dataset.PaymentSource.unique()

array(['Contractor', 'Regular', 'Alternative', 'Additional'], dtype=object)

In [91]:
loan_agency_product_name.head()

   AgencyId ProductName Country
0         1         PDL  Kamino
1         2         PDL  Kamino
2         3         PDL  Kamino
3         4         PDL  Kamino
4         5         PDL  Kamino

In [92]:
loan_funding_origination_info.head()

,LoanId,AgencyId,FundingID,OriginationDate,InstallmentAmount,Periodicity,LoanOperationalStatus,VAT,Term
0,125494,808,6,2010-07-08,26495.20,Biweekly,Paid-off,16,72
1,125498,808,6,2010-07-08,25170.44,Biweekly,Paid-off,16,72
2,125505,855,6,2010-07-09,30444.96,Biweekly,Paid-off,16,48
3,125523,11,6,2010-07-08,18148.44,Biweekly,Paid-off,16,24
4,125530,806,6,2010-07-08,26830.93,Biweekly,Paid-off,11,48